# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual Environments
env/
venv/
.venv/

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# Dependency & Build
/dist
/build
*.egg-info/
pip-selfcheck.json
